<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Esqueceu sua senha? - FYI</title>
</head>

<body>
    <main>
        <div>
            <img class="logo" src="">
        </div>

        <div>
            <div>
                <h1>Opa, esqueceu sua senha?</h1>

                <h2>Não se preocupe! nós da FYI Learning Solutions prezamos por seu conhecimento, então não os
                    privaremos de seus cursos :)
                    <br>
                    Mas antes disso, por favor redefina sua senha entrando no link abaixo:
                </h2>

                <a href="http://"></a>
            </div>
    </main>

    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }


    </style>
</body>