@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inicial-banner{
  width: 100%;
  height: 282px;
}

.inicial-image-content{
  width: 100%;
  height: 275px;
}

.inicial-frase{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.inicial-frase p{
  font-family: 'Average Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
}

.inicial-info-empresa{
  width: 100%;
  height: 120px;
  background-color: #8150A3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicial-info-content p{
  font-family: 'Average Sans', sans-serif;
}

.inicial-container-info{
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
  width: 100%;
  height: 100%;
}

.inicial-info-content{
  color: white;
  width: 165px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

.inicial-info-content img{
  width: 40px;
  height: 40px;
}

.inicial-cursos-main{
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.inicial-cursos-content{
  width: 80%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.inicial-cursos-content h1{
  font-family: 'Poppins';
  font-weight: 600;
}

.inicial-cards-container{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.inicial-card-content{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.inicial-cursos-container{
  margin-top: 70px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.inicial-empresas-carrosel{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: inherit;
}

.Empz-img{
  /* opacity: 50%; */
}

.Cavalcante-img{
  /* opacity: 50%; */
}

.Even-img{
  /* opacity: 50%; */
}

.Ipetec-img{
  /* opacity: 50%; */
}

.Ibmec-img{
   /* opacity: 50%; */
}

.Empz-img:hover{
  /* opacity: 150%; */
  transition: 1s;
}

.Cavalcante-img:hover{
  /* opacity: 150%; */
  transition: 1s;
} 

.Even-img:hover{
  scale: 1.2;
  transition: 1s;
}

.Ibmec-img:hover{
  /* opacity: 150%; */
  transition: 1s;
}

.Ipetec-img:hover{
  /* opacity: 150%; */
  transition: 1s;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	/* 0; */ 
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	/* 1; */
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #8150A3; }

@media screen and (max-width: 992px){
  .inicial-card-content{
    flex-direction: column;
    display: flex;
  }
}
