*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .cursos-Content-info{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
  }

  .cursos-box-conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }

  .cursos-box-conteudo h1{
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: 80px;
  }

  .cursos-box-conteudo-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
  }


  .cursos-Content-info-card{
    background-color: #8150A3;
    width: 1vw;
    height: 65vh;
    margin: 5px;
    float: left;
    
  }

  .cursos-Content-info-card2{
    background-color: #8150A3;
    width: 1vw;
    height: 65vh;
    margin: 5px;
    float: right;

  }

  .cursos-conteudo-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cursos-curso-card{
    width: 475px;
    height: 120px;
    background-color: rgba(95, 75, 139, 1);

    /* opacity: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }

  .cursos-curso-card h3{
    color: #FFFFFF;
    text-transform: uppercase;
  }
.cursos-curso-card{
    width: 475px;
    height: 120px;
    background-color: rgba(95, 75, 139, 1);

    /* opacity: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }