footer{
    width: 100%;
    height: 165px;
    background-color: #8150A3;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  
  .footer-containers{
    width: 90%; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-contente{
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box-conteudos{
    display: flex;
    align-items: center;
  }
  
  .box-conteudoss{
    display: flex;
    align-items: center;
    margin-left: -8vh;
  }
  
  
  
  .cellphone-footer{
    width: 15vh;
    height: 8vh;
  }
  
  .email-footer{
    margin-right: 30px;
  }
  
  .siga{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
  }
  
  .siga h3{
    text-transform: uppercase;
  }
  
  .conteudo-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .footer-contents{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon{
    width: 5vh;
    height: 5vh;
  }
  
  .social-icons{
    width: 6vh;
    height: 6vh;
  }
  
  .social-iconss{
    width: 7vh;
    height: 7vh;
  }